<div class="row" id="page-title-row">
    <div class="col-xs-12 no-padding">
        <div class="page-title"> About Us </div>
    </div>
</div>
<div class="row">
	<div class="col-sm-12"> 
		<div class="row">
			<div class="col-xs-12">
				<p class="page-section-paragraph"> Thank you for checking in with South Shore Royal Tees. We are located in the heart of Long Island in Lindenhurst, New York. We are constantly striving to bring you the finest possible product in a timely fashion with a low stress experience. Our passion is to bring your ideas to life in any way possible. Be sure to reach out to us for any questions, and we hope to hear from you soon!
				</p> 	
			</div>
		</div>
		<div class="row" id="about-ul-row">
			<div class="col-xs-6 hidden-xs">
		 		<%= image_tag("coil_2", id: "page-section-img") %> 
		 	</div>
		 	<div class="col-sm-6">
			 	<p class="page-section-paragraph" id="page-section-ul"> We work with all types of organizations!
					<ul class="page-section-paragraph">
						<li> Bands </li>
						<li> Youth Clubs </li>
						<li> Restaurants </li>
						<li> School </li>
						<li> Sports Teams </li>
						<li> Special Events </li>
						<li> Gyms </li>
						<li> Trade Shows </li>
						<li> Community Groups </li>
						</ul>
				</p>
			</div>
		</div>
		<div class="row">
		<div class="col-xs-12">
		<p class="page-section-paragraph">
			We can screen print or embroider everything from dress shirts and Polos for large corporations to t-shirts and hats for family reunions. With our in-house artists, we can create custom artwork for you, or you can supply your own. Then we'll apply it to any of our huge selection of brand name apparel or promotional products.
			So take a browse around our site to pick out your perfect item. Then let us show you the superb quality and customer service we're known for.
			Thanks for visiting South Shore Royal Tees!
		</p>
		</div>
		</div>
	</div>	
</div>