<div class="row" id="page-title-row">
    <div class="col-xs-12 no-padding">
        <div class="page-title"> About Us </div>
    </div>
</div>
<div class="row">
	<div class="col-xs-12 no-padding" id="about_us_cont">
		<div class="col-sm-6 no-padding"><%= image_tag("about_us", id: "page-section-img") %> </div>
		<div class="col-sm-6"> <p id="page-section-paragraph"> Thank you for checking in with South Shore Royal Tees. We are located in the heart of Long Island in Lindenhurst, New York. We are constantly striving to bring you the finest possible product in a timely fashion with a low stress experience. Our passion is to bring your ideas to life in any way possible. Be sure to reach out to us for any questions, and we hope to hear from you soon! </p> 
		</div>
	</div>
</div>