<div class="row" id="home-title-row">
    <div class="col-xs-12 no-padding">
        <div class="visible-xs home-title"> SOUTH SHORE ROYALTEES </div>
        <div class="home-title"> LONG ISLAND SCREEN PRINTING </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 no-padding">
        <div class="slide-container">
            <div class="slides">
                <%= image_tag("Slide_Show_1", class: "slide-img") %>             </div>
            <div class="slides">
                <%= image_tag("Slide_Show_2", class: "slide-img") %>             </div>
            <div class="slides">
                <%= image_tag("Slide_Show_3", class: "slide-img") %> 
            </div>
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>
        <div style="text-align: center">
                <span class="dot 1"></span>
                <span class="dot 2"></span>
                <span class="dot 3"></span> 
        </div>
    </div>
</div>
