<div class="row">
    <div class="col-xs-12">
        <div class="slide-container">
            <div class="slides">
                <img class="slide-img" src="http://www.fillmurray.com/500/500" />
            </div>
            <div class="slides">
                <img class="slide-img" src="https://www.placecage.com/500/500" />
            </div>
            <div class="slides">
                <img class="slide-img" src="http://www.stevensegallery.com/500/500" />
            </div>
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>
        <div style="text-align: center">
                <span class="dot 1"></span>
                <span class="dot 2"></span>
                <span class="dot 3"></span> 
        </div>
    </div>
</div>

