@import "./variables.scss";

img#page-section-img {
    width: 100%;
}

#page-section-paragraph {
	color: #3C5C27;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	#page-section-paragraph {
		color: white;
		font-family: sans-serif;
		font-size: 16px;
	}
}

@media (min-width: 992px) { 
	#page-section-paragraph {

	font-size: 18px;
	}
}