@import "./variables.scss";

img#page-section-img {
    width: 100%;
}

#page-section-paragraph {
	color: #3C5C27;
	font-family: $font-stack;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	#page-section-paragraph {
		color: white;
		font-family: sans-serif;
		font-size: 18px;
	}
}
